
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    src: url('@assets/fonts/Oswald-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    src: url('@assets/fonts/Oswald-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url('@assets/fonts/Oswald-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url('@assets/fonts/Oswald-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('@assets/fonts/Oswald-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('@assets/fonts/Oswald-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

html{
    font-family: 'Oswald';
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: semi-bold;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
}
p, span, a{
    font-size: 1rem;
}



